@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  background-image: url('/public/ocean.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  height: 100vh;
}

h1 {
  color: #fffdfd;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #021526;
  margin: 15px auto;
  border-radius: 50px;
  width: 45vw;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: none;
  width: 25vw;
  margin: 15px auto;
  height: 30px;
  padding-left: 10px;
}

.weather-data {
  display: flex;
  justify-content: center;

  background-color: rgb(202, 245, 248);
  width: 40vw;
  height: 150px;
  border-radius: 10px;
  text-align: center;
  padding-top: 15px;
}

/* Favorite City Component */
.city-weather {
  display: block;
  margin-bottom: 20px;
}
.favorite {
  background-color: #021526;
  color: #fffdfd;
  text-align: center;
  border-radius: 50px;
  margin-top: 50px;
}

.fav-temps {
  display: block;
}

.favorite-cities h2 {
  text-align: center;
  margin-bottom: 20px;
}
